# Introduction : Jupyter

Bienvenue sur Jupyter!<br>
    Nous allons utiliser cette interface tout au long de ce module de formation.<br>
    N'hésitez pas inserer des blocs à votre convenance et à tester un maximum de choses.
    -> ***Insert  --> Insert below***

<img src="images/iPython_header.png">

Vous utiliserez la version ```code``` pour simuler une interface. <br> Les textes sont écrits en ```Markdown```. (sur la photo ci-dessus nous avons séléctionné le bloc d'un titre d'où la version ```Heading 1```.

In [1]:
"Hello World"

'Hello World'

In [2]:
print('Hello World')

Hello World

# Python : les basics

## Les méthodes ```print``` et ```type```

In [13]:
a = "Hello everyone ..."
b = '83'

In [15]:
# la methode print permet d'afficher une valeur

b

'83'

In [7]:
print(a)

Hello everyone

In [10]:
# la methode type permet d'afficher la type d'objet qu'on manipule

type(1.7)

float

## Les types primitifs

#### Les 'string' ou chaines de caractères

In [5]:
type(a)

str

#### Les 'integer' ou nombres entiers

In [6]:
type(3)

int

#### Les 'float' ou nombres décimaux

In [8]:
type(4.5)

float

#### Les booléens True ou False

In [9]:
type(True)

bool

In [19]:
1 == 1

True

### Concaténer

In [20]:
print(1 + 1)

2

In [21]:
print("1" + 1)

TypeError: can only concatenate str (not "int") to str

In [22]:
print("1" + str(1))

11

In [23]:
print( f"1{1}")

11

In [24]:
1+1

2

### Les f-string

In [29]:
population2012 = 9519374
population2013 = 9600379
print( f"La population de la Suède était de {population2012} personnes en 2012 et {population2013} en 2013")

La population de la Suède était de 9519374 personnes en 2012 et 9600379 en 2013

In [32]:
"La population de la Suède était de " + str(population2012) + " personnes en 2012 et " + str(population2013) + " en 2013"

'La population de la Suède était de 9519374 personnes en 2012 et 9600379 en 2013'

In [33]:
taille = 333
Poids = 100000

## Les listes et les dictionnaires

#### Les 'list'

In [9]:
type([2, 3, 4])

list

Une liste est un tableau ordonné à une dimension.

In [8]:
Beatles = ["John", "Paul", "George", "Pete"]
print(Beatles)

['John', 'Paul', 'George', 'Pete']

In [40]:
# La selection d'un élément d'une liste se fait par son index, l'indexation commence toujours par 0.

print("Chanteur 1: " + Beatles[0])

Chanteur 1: John

In [41]:
print(f"Chanteur 1: {Beatles[0]}")

Chanteur 1: John

In [51]:
# Il est possible de changer un élément de la façon suivante :
Beatles[3] = "Ringo"
print(Beatles)

['John', 'Paul', 'George', 'Ringo']

In [55]:
# Il est possible d'ajouter un élément avec la fonction append :
Beatles.append("Yoko")
print(Beatles)

['John', 'Yoko', 'Paul', 'George', 'Ringo', 'Yoko']

In [53]:
# Cette fois-ci par les index on rajoute "Yoko" à côté de John (on force l'indexation naturelle) :
Beatles.insert(1, "Yoko")
print(Beatles)

['John', 'Yoko', 'Paul', 'George', 'Ringo']

In [56]:
# On peut supprimer par l'index :
del Beatles[5]
print(Beatles)

['John', 'Yoko', 'Paul', 'George', 'Ringo']

#### Les 'dictionary' ou ensemble clé : valeur

In [57]:
type({'un':1, 'deux':2, 'trois': 3})

dict

In [59]:
d = {'a':34, 'b': 48}

In [66]:
d['c']

54

In [67]:
# L'utilisation d'un dictionnaire se fait très souvent pour contenir un grand nombre d'informations. 
dic_beatles = {'bassiste': 'Paul', 'guitariste':'George', 'chanteur':'John','batteur':'Ringo'}
print(dic_beatles)

{'bassiste': 'Paul', 'guitariste': 'George', 'chanteur': 'John', 'batteur': 'Ringo'}

In [13]:
# Il n'y a pas d'index, ce sont les clés qui nous permettent d'obtenir l'information.
dic_beatles['bassiste']

'Paul'

In [68]:
# Nous pouvons rajouter un élément en assignant de la façon suivante.
dic_beatles['choriste'] = 'Yoko'
print(dic_beatles)

{'bassiste': 'Paul', 'guitariste': 'George', 'chanteur': 'John', 'batteur': 'Ringo', 'choriste': 'Yoko'}

In [15]:
# Nous pouvons aussi supprimer un élément :
del dic_beatles['choriste']
print(dic_beatles)

{'bassiste': 'Paul', 'guitariste': 'George', 'chanteur': 'John', 'batteur': 'Ringo'}

## Variables & fonctions

### Les variables

Votre code est lu ligne par ligne, la seule façon de stocker un élément afin de pouvoir le ré-utiliser plus tard est de l'**assigner à une variable**

In [69]:
# Assignons la chaine de caractère 'Bob' à la variable Name
Name = 'Bob'

In [70]:
# On peut récupérer la valeur d'une variable

print("Bonjour " + Name)

Bonjour Bob

In [71]:
Name = 'Bob'
print(f"Bonjour {Name}")

Bonjour Bob

### Les fonctions

Une fonction est un ensemble d'opération permettant de passer d'un ou plusieurs éléments d'entrée à généralement un élément de sortie.

In [79]:
# Ecrivons une fonction qui renvoie le carré d'un nombre a

def carre(nombre):
    resultat = nombre**2
    return resultat

In [77]:
def foistrois(x):
    return x*3

## Les opérateurs

\> strictement supérieur (respectivement < strictement inférieur)

In [81]:
2 > 3

False

\>= supérieur ou égal (respectivement <= inférieur ou égal)

In [82]:
2 >= 2

True

== égale à

In [83]:
2 == 2

True

!= différent de

In [84]:
2 != 2

False

OR et AND

In [87]:
(2 != 2) | (2 != 3)

True

In [88]:
(2!=2) & (2!=4)

False

### Les boucles for

In [9]:
Beatles = ['John', 'Paul', 'George', 'Ringo']

In [92]:
for musician in Beatles:
    print(musician)

John
Yoko
Paul
George
Ringo

In [93]:
prices = [10, 14, 17, 34]

In [95]:
for price in prices:
    print(price*1.2)

12.0
16.8
20.4
40.8

Compter les boucles

In [103]:
Beatles

['John', 'Yoko', 'Paul', 'George', 'Ringo']

In [108]:
for i, musician in enumerate(Beatles):
    print(f"{i} {musician}")

0 John
1 Yoko
2 Paul
3 George
4 Ringo

### Syntaxe en une ligne

In [10]:
["- " + musician for musician in Beatles]

['- John', '- Paul', '- George', '- Ringo']

In [13]:
[f"{i} {musician}" for i, musician in enumerate(Beatles)]

['0 John', '1 Paul', '2 George', '3 Ringo']

In [14]:
prices = [12.0, 16.8, 20.4, 40.8]

In [15]:
[x for x in prices if x % 3 == 0]

[12.0]

### Boucles for conditionnelles

In [16]:
l = [1, 2, 3, 4, 5, 'z']

In [16]:
if 10 in l:
    print('0K')

In [18]:
'z' in  'abcdefgh'

False