# Introduction à Pandas

Dans cette partie vous apprendrez : 

- Comment appliquer des fonctions sur un DataFrame
- Comment gérer des données manquantes

In [ ]:
import pandas as pd
import numpy as np

### DataFrames

Les **DataFrame** sont des structures données qui contiennent plusieurs colonnes et plusieurs types de données.

On peut créer un DataFrame à partir d'un dictionnaire de liste :

In [ ]:
villes = {'nom':["Paris","Marseille","Lyon","Toulouse"],
          'population':[212,80,44,39],
          'zip':["75","13","69","31"]}

villes

In [ ]:
villes_df = pd.DataFrame(villes) 

villes_df

A la création, on peut spécifier l'ordre des colonnes ainsi que les index à utiliser :

In [ ]:
villes_df = pd.DataFrame(villes, columns=['nom','population'],
                      index = [1,2,3,4])

villes_df

On peut sélectionner :

In [ ]:
# On sélectionne une colonne de deux manières : 

print(villes_df['nom'])
print(villes_df.nom)

In [ ]:
# On sélectionne une ligne en utilisant la méthode iloc[index] :

print(villes_df.iloc[3])

L'assignation fonctionne sous la même logique que sous NumPy (vous commencez à comprendre !) :

In [ ]:
villes_df['dette'] = np.arange(1,5)*1000

villes_df

In [ ]:
villes_chomage_df = pd.read_csv("../goodiebag/unemployment.csv", sep=';')

In [ ]:
villes_chomage_df.head()

In [ ]:
villes_chomage_df

#### Pour un copier coller

In [ ]:
villes_chomage_df.to_clipboard(index=False, decimal=',')

In [ ]:
pd.read_clipboard(decimal=',')

#### Pour enregistrer

In [ ]:
villes_chomage_df.to_csv('data/villes_chomage.csv')

## Fonctions de base

Pandas offre un set de fonctions basiques qui facilitent grandement le traitement de données. En voici quelques unes :

### Reindexing

Le **Reindexing** permet de modifier un dataframe conformément à un nouvel index :

In [ ]:
villes_df

In [ ]:
# On crée ici un nouveau DataFrame villes_df2 basé sur villes_df, mais sur un index différent

villes_df2 = villes_df.reindex([1,3,5])
villes_df2

Un index n'existe pas dans notre nouvel objet (il s'agit de l'index #5). Pandas crée des valeurs NaN (Not a Number) pour ces valeurs.

Nous pouvons remplacer ces valeurs, par des valeurs nulles par exemple, en utilisant la méthode ***fill_value***

In [ ]:
villes_df2

In [ ]:
# Remplaçons les valeurs NaN par des 0

villes_df2.fillna(0)

In [ ]:
# Ou dès la création du Dataframe villes_df2 par 

villes_df2 = villes_df.reindex([1,3,5], fill_value=0)

villes_df2

### Supprimer des éléments

La méthode **drop** permet de supprimer des éléments à partir des index (axis = 0) ou à partir des colonnes (axis = 1)

In [ ]:
villes_df

In [ ]:
# Les index correspondent aux lignes d'un DataFrame (axis = 0)

print(villes_df.index)

In [ ]:
# Les columns correspondent aux colonnes d'un DataFrame (axis = 1)

print(villes_df.columns)

In [ ]:
villes_df

In [ ]:
# Supprimer la ligne correspondant à l'index 2 (ici Marseille)

villes_df.drop(2, axis=0)

In [ ]:
# Supprimer la colonne correspondant à la colonne 'population' 

villes_df.drop('population',axis=1)

### Sélectionner et filtrer

La sélection fonctionne comme pour les ndarray sous NumPy :

In [ ]:
# Sélectionner une colonne 

villes_df['nom']

In [ ]:
# Pour sélectionner plusieurs colonnes, nous passons une liste de noms des colonnes : 

villes_df[['nom','population']]

In [ ]:
# La sélection des lignes, fonctionne avec les index 

villes_df.iloc[1:2]

In [ ]:
# La sélection par opérateurs booléens fonctionne de la même manière : 

villes_df[villes_df['population'] > 40]

In [ ]:
villes_df

###  A vous :

1) Créez un DataFrame en reprenant le dataset suivant :

In [ ]:
villes_stades = {'nom':["Paris","Marseille","Lyon","Lens","Toulouse"],
          'population':[212,80,44,32,39],
          'zip':["75","13","69","62","31"],
          'stade':[49691,42000,41842,12097,35472]}

In [ ]:
villes_stades_df = pd.DataFrame(villes_stades)

In [ ]:
villes_stades_df

2) Sélectionnez seulement les colonnes des noms de villes et de capacité des stades

In [ ]:
villes_stades_df[['nom', 'stade']]

3) Affichez seulement la ligne correspondant à la ville de Lens

In [ ]:
villes_stades_df['nom_zip'] = villes_stades_df['nom'] + ' - ' + villes_stades_df['zip']

In [ ]:
villes_stades_df

4) Affichez seulement les villes ayant un stade supérieur à 30000 places

In [ ]:
villes_stades_df[villes_stades_df.stade > 30000]

### Applications de fonctions

Nous pouvons appliquer les fonctions universelles à des DataFrame. 

Maitriser ces fonctions est une composante essentielle de la maitrise de la manipulation de données sous Pandas.

In [ ]:
# Recréons un DataFrame en spécifiant les colonnes et les index : 

df1 = pd.DataFrame(np.random.randn(4,3),columns=['population','zip','budget'],
                       index=['Paris','Nantes','Toulouse','Lyon'])

In [ ]:
df1.budget.mean()

Définissons une fonction f qui renvoie la différence entre la valeur maximum et la valeur minimum :

In [ ]:
f = lambda x: x.max() - x.min()

Pour info, Lambda est une simple convention qui permet de créer une fonction anonyme. Cela revient exactement à déclarer une fonction telle que :

In [ ]:
def g(x):
    return x.max() - x.min()

In [ ]:
df1.apply(g)

Il est maintenant possible (et c'est génial) d'appliquer cette fonction sur notre DataFrame en utilisant la méthode **apply**. Cette méthode prendre comme paramètre l'axe du DataFrame. 

Cela signifie que si nous voulons obtenir le résultat de f pour chaque colonne, nous appliquons f ligne par ligne (en utilisant donc axis=0) :

In [ ]:
df1.apply(g, axis=0)

Voilà un petit schéma pour bien comprendre ce que nous venons de faire. 

Nous appliquons pour chaque ligne (selon l'axe 0) la fonction f.

<img src='images/faxis0.png'>

Si nous souhaitons réaliser la même opération pour chaque ville, nous pouvons utiliser la même fonction selon l'axe 1 soit :

In [ ]:
df1.apply(f,axis=1)

En utilisant le même schéma, cela peut se représenter à nouveau ainsi :

<img src='images/faxis1.png'>

### A vous :

1) Reprenez le dataset des villes et de la capacité des stades

In [ ]:
villes_stades = {'nom':["Paris","Marseille","Lyon","Lens","Toulouse"],
          'population':[212,80,44,32,39],
          'stade':[49691,42000,41842,12097,35472]}

2) Créez un DataFrame avec le dataset en mettant le nom des villes en index

3) Renvoyez pour chaque ville, la différence entre la capacité du stade et la moyenne de capacité des stades.

### Trier

Le tri est une composante clé de l'analyse de donnée. La méthode **sort_index** permet de retourner un nouvel objet, trié. 

Si nous souhaitons trier un DataFrame suivant l'ordre alphabétique des villes (ici de notre index), il suffit donc d'écrire :

In [ ]:
df1.sort_index(axis=0)

On peut, de la même manière trier l'ordre des colonnes, en utilisant l'axe 1 :

In [ ]:
df1.sort_index(axis=1)

Vous pouvez, et ce sera le plus fréquent, vouloir trier selon une colonne. Vous pouvez utiliser la méthode **sort_values**

In [ ]:
df1.sort_values('population')

On peut spécifier le paramètre booléen **ascending** pour réaliser des tris croissant / décroissant :

In [ ]:
df1.sort_values('population',ascending=False)

In [ ]:
df1.sort_values(['population', 'budget'],ascending=False)

In [ ]:
df1.sort_values('budget',ascending=False)

### Méthodes statistiques

Pandas donne accès à un set de méthodes statistiques par défaut. En voici quelques unes :

On peut jeter un 'coup d'oeil' à la description statistique d'un set de données en utilisant la méthode **describe**. 

Celle ci permet de calculer rapidement des données clés (nombre de valeurs, moyenne, déviation standard et quartiles).

In [ ]:
df1.describe()

In [ ]:
df1.dtypes

Les méthodes classiques (somme, moyenne, count etc..) sont également intégrées. 

Elles prennent également comme paramètres les axes d'application des DataFrame

In [ ]:
# Calculer la moyenne par colonne 

df1.mean()

### Gérer les données manquantes

In [ ]:
from numpy import nan as NA

La gestion des données manquantes est une composante clé de Pandas. 

Les données nulles sont courantes dans les analyses de données, prenons par exemple le DataFrame suivant :

In [ ]:
df_null = pd.DataFrame([[1,3,5,8],[5,NA,7,3],[NA,NA,NA,NA],[NA,7,3,2]])

df_null

Nous pouvons supprimer toutes les lignes qui comportent au moins un élément NA avec la méthode **dropna**

In [ ]:
df_null.dropna()

La méthode **dropna** conservant les paramètres axis, nous pouvons supprimer les colonnes ayant au moins un NA :

In [ ]:
df_null.dropna(axis=1)

Ou encore celle qui n'ont que des NA grâce au paramètre **how** :

In [ ]:
df_null.dropna(axis=0, how='all')

In [ ]:
df_null

Au lieu de supprimer des données manquantes, nous pouvons également remplir les cases avec la méthode **fillna** :

In [ ]:
df_null.fillna(0)

Il est possible de remplir des valeurs différentes suivant la colonne en passant un **dictionnaire en paramètre** :

In [ ]:
# On remplit ici la colonne 1 avec des 0 et la colonne 2 avec des 3

df_null.fillna({1:0, 2:3})

Le paramètre booléen **inplace** permet de modifier ou non le DataFrame original. Par défaut **fillna** crée une copie de l'objet :

In [ ]:
df_null.fillna(0,inplace=True)

df_null

#### Importer un dataset avec Pandas

In [ ]:
df_tests =  pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/406c6a23-e283-4300-9484-54e78c8ae675', ';')

#### Inspecter la taille et le type de données du dataset

In [ ]:
df_tests.shape

In [ ]:
df_tests.describe()

In [ ]:
df_tests.info()

In [ ]:
df_tests.dtypes

#### Changer les valeurs de la colonne "pop" en entiers

In [ ]:
df_tests['pop'] = df_tests['pop'].astype('int')

#### Transformer le jour en datetime

In [ ]:
df_tests.jour.dtype

In [ ]:
df_tests['datetime'] = pd.to_datetime(df_tests.jour)

### Si date à la française
pd.to_datetime(df_tests.jour, format='%d/%m/%Y')

#### Sélectionner uniquement les données postérieures au 20 janvier 2022

In [ ]:
import datetime

In [ ]:
df_post20juillet = df_tests[df_tests.datetime >= datetime.datetime(2022, 1, 20)]

#### Afficher toutes les valeurs que peuvent prendre les données de la colonne "cl_age90"

In [ ]:
df_post20juillet.cl_age90.unique()

#### Transformer les départements en str et rajouter un zéro devant

In [ ]:
def rajouter_zero(x):
    return x.zfill(2)

In [ ]:
df_post20juillet['dep'] = df_post20juillet.dep.astype('str')

In [ ]:
df_post20juillet['dep'] = df_post20juillet.dep.map(rajouter_zero)

#### Méthode en une ligne avec une fonction lambda

In [ ]:
df_post20juillet['dep'] = df_post20juillet.dep.map(lambda x: x.zfill(2))

#### Copier un DataFrame

In [ ]:
df_post20juillet_ok = df_post20juillet.copy()

### Exercice : filtrer les moins de 10 ans du département 75